name: PullRequest CI
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
permissions:
  contents: 'read'

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8	# v5.0.0
        with:
          fetch-depth: 0
      - name: Setup Java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165	# v5.0.0
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
      - name: Build Artifact
        run: >-
          mvn clean verify --batch-mode
          --file ./pom.xml
          --define app.packages.username="${APP_PACKAGES_USERNAME}"
          --define app.packages.password="${APP_PACKAGES_PASSWORD}"
          --settings ./settings.xml
        env:
          APP_PACKAGES_USERNAME: ${{ github.actor }}
          APP_PACKAGES_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
